@import url('https://fonts.googleapis.com/css?family=raleway');
@import url('https://fonts.googleapis.com/css?family=volkhov');

.margin { 
    border: 10px ridge #3ca7bb;
}
.marginspace {
    margin: 10px 20px 100px 20px;
    position:sticky;
    top: 10px;
}
.border {
    border: 5px double #01141a;
}
.border1 {
    border: 5px double #7abfb3
}
.logo {
    float: left;
}
.float-left {
    float: left;
}
a:link{
    text-decoration: none;    
}
a:visited{
    color: black;
}
a:hover{
    background-color: #d1dbdc;
    text-decoration: underline;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right
}
.clearfloats {
    clear: both;
}
.nav-right, .nav-left {
    margin-top: 0px;
    margin-right: 20px;
    list-style-type: none;
}
nav, footer {
    /*height: 40px;*/ 
    text-align: center; 
    padding: 0px; 
    margin: 10px; 
    background-color: #3ca7bb;
}

nav {
    height: 40px;
}
.footer-left {
    margin-top: 0px;
    margin-right: 20px;
    list-style-type: none;
}
.fa-brands {
    padding: 10px;
}
#github {
    color: yellow
}
.column1 {
    width: 20%;
}
.column2 {
    float: right;
    width: 50%;
}

.row:after {
    clear: both;
}
section {
    height: 450px; text-align: center; padding: 50px; 
    margin: 20px 20px 10px 70px;
    box-shadow: 5px 5px #01141a;
}
article {
    height: 250px; text-align: center; padding: 0px; 
    margin: 10px 20px 10px 70px;
    box-shadow: 5px 5px #01141a;
}
aside {
    height: 722px; text-align: center; padding: 0px; 
    margin: 20px 50px 10px 10px;
    box-shadow: 5px 5px #01141a;
}
#section-article_column {
    width: 65%;
}
#aside_column {
    width: 35%;
}
h1, h2, h3 {
    color: #238c6e;
    /*text-shadow: 5px 5px #7abfb3;*/
}
h2 {
    /*background-color: rgba(60, 167, 187, .9);*/
    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

}
p {
    color: #01141a;
    background-color: rgba(60, 167, 187, .9);
    font-size:larger;
}
/*For form style */
input [type=text], label, input, select, textarea {
    width: 100%;
    border: 2px solid #3ca7bb;
    border-radius: 4px;
}
    
.column {
    float: left;
    width: 25%;
    height: 500px;
    margin-top: 40px;
}
#box1 {
    background-color: darkkhaki;
    border-width: 50px;
    border-color: black;
}
#box2 {
    background-color: steelblue;
    border-width: 50px;
    border-color: black;
}
#box3 {
    background-color: lightcoral;
    border-width: 50px;
    border-color: black;
}
#box4 {
    background-color: lightgreen;
    border-width: 50px;
    border-color: black;
}
.row:after {
    clear: both;
}
